/* Primary Colours */
$healthy-orange: #e94e1b;
$confident-grey: #5d686e;

/* Secondary Colours */
$open-blue: #89c7cf;
$warm-orange: #f38b00;
$refreshing-green: #a5c27e;
$grounded-purple: #94a4c6;
$background-grey: #e6ebee;
$responsible-grey: #8d979e;

$dark-orange: #990000;

/* Other Colours */
$white: #ffffff;
$black: #000000;

$bkg-grey-01: #eeeeee; /* grey wrapper, table row, search results */
$bkg-grey-02: #cfd8d7; /* tab, main nav highlight, bottom border */
$bkg-grey-03: #f2f2f2; /* sub-nav (mobile), tab (mobile), table key */
$bkg-grey-04: #e1e4e3; /* section heading (mobile), banner text gradient (mobile) */
$bkg-grey-05: #f9f9f9; /* banner text gradient (mobile) */

$confident-grey-10: #eeeff0; /* confident grey 10% */
$confident-grey-20: #dfe1e2; /* confident grey 20% */
$confident-grey-30: #ced1d3; /* confident grey 30% */
$confident-grey-50: #aeb3b6; /* confident grey 50% */
$confident-grey-70: #8d979e; /* confident grey 70% */
$confident-grey-120: #485459; /* confident grey 120% */

$base-text-color:       $confident-grey     !default;
$base-background-color: $background-grey    !default;

/* Background colours, see: _s.background.scss */
$alpha-background: $warm-orange !default;
$alpha-text: $white !default;

$beta-background: $white !default;
$beta-text: $confident-grey !default;

$gamma-background: $base-background-color !default;
$gamma-text: $confident-grey !default;

$delta-background: #D7D7D7 !default;
$delta-text: $white !default;

$epsilon-text: $white !default;

$zeta-background: $responsible-grey !default;
$zeta-text: $white !default;

$eta-background: $confident-grey !default;
$eta-text: $white !default;


/* Form colours */
$input-border-color: $responsible-grey !default;
$input-focus-color: $warm-orange !default;
$input-error-color: #d9534f !default;


/* Tab colours */
$tab-inactive-background: #D5DDDC;
$tab-inactive-text: #687379;
