$base-font-size:        16px!default;
$base-line-height:      20px!default;

@font-face {
  font-family: "co-text";
  src: url(/fonts/cotext_std_lt-webfont.woff);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "co-text";
  src: url(/fonts/cotext_std_rg-webfont.woff);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "co-text";
  src: url(/fonts/cotext_std_bd-webfont.woff);
  font-style: normal;
  font-weight: 700;
}
